<div class="center margin-bottom-wrapper code-index-title">
  <i class="glyphicon glyphicon-console"></i> コード一覧
</div>
<div class="center margin-bottom-wrapper">
  <i class="glyphicon glyphicon-menu-down"></i>
</div>

<div class="container">
  <% if !logged_in? %>
    <% @codes.last(5).reverse.each do |code| %>
      <div class="bs-callout bs-callout-info">
      <h4><%= link_to code.filename, code_path(code) %></h4>
      <p><%= code.description %></p>
      <img src="<%= code.user.image_url %>" class="user_profile_image_code_index"><span class="code-index-user-desc"><%= code.user.user_name %></span>
      </div>
    <% end %>
    <div class="continue center">
      <p>ログインすると、より多くの投稿が閲覧できます。</p>
      <div class="center">
        <button type="button" class="btn btn-info"><a href="/auth/twitter/">今すぐTwitterでログインする</a></button>
      </div>
    </div>
  <% else %>
    <% @codes.reverse.each do |code| %>
      <div class="bs-callout bs-callout-info">
      <h4><%= link_to code.filename, code_path(code) %></h4>
      <p><%= code.description %></p>
      <img src="<%= code.user.image_url %>" class="user_profile_image_code_index"><span class="code-index-user-desc"><%= code.user.user_name %></span>
      </div>
    <% end %>
  <% end %>
</div>