<% content_for :ogp do %>
  <meta property="og:title" content="<%= @code.filename %>" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content=<%= "https://twicode-share.herokuapp.com/codes/#{@code.uuid}" %> />
  <meta property="og:image" content=<%= "https://twicode-share.herokuapp.com/ogp/#{@image_url}" %> />
  <meta property="og:site_name" content="TwiCode" />
  <meta property="og:description" content="<%= @code.description %>" />

  <!--twitterの設定-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content=<%= "https://twicode-share.herokuapp.com/codes/#{@code.uuid}" %> />
  <meta name="twitter:image" content=<%= "https://twicode-share.herokuapp.com/ogp/#{@image_url}" %> />
  <meta name="twitter:title" content="<%= @code.filename %>">
  <meta name="twitter:description" content="<%= @code.description %>" />
<% end %>

<div class="container">
  <div class="margin-top-wrapper">
    <div class="panel panel-info">
      <div class="panel-heading">ファイルの概要</div>
      <div class="panel-body">
        <%= @code.description %>
      </div>
    </div>

    <div class="center margin-bottom-wrapper">
      <i class="glyphicon glyphicon-chevron-down"></i>
    </div>

    <% if logged_in? %>
      <%# もしもコードユーザが自分なら %>
      <% if current_user.id == @code.user_id %>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Code</a></li>
        <li role="presentation"><div data-turbolinks="false" class="no-turbolink"><%= link_to '編集', edit_code_path(@code) %></div></li>
      </ul>
      <% end %>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= "<>#{@code.filename}.twicode" %></div>
        <div class="panel-body">
          <p><%= markdown(@code.body).html_safe %></p>

          <%# LikesコントローラではCodeのidが必要になるため、Likeビューをパーシャル化する際に、
          Codeをビューに渡してあげる必要がある。 %>
          <span id="code-<%= @code.id %>">
            <%= render "likes/like", locals: { code: @code } %>
          </span>

        </div>
      </div>
    </div>
  </div>
</div>

<%# 画像設定 %>
<div class="bg_wrapper-trans center">
  <div class="share-card">   
      <img class="card-img" src='https://twicode-share.herokuapp.com/ogp/<%= "#{@code.image_url}" %>' alt="<%= @code.filename %>">
    <div class="card-body">
      <h4><%= @code.filename %></h4>
      <p><%= @code.description %></p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>

<% if logged_in? %>
  <% if current_user.id == @code.user_id %>
    <div class="center margin-bottom-wrapper">
      <button type="button" class="btn btn-danger"><%= link_to "<>#{@code.filename}.twicodeを削除", "/codes/#{@code.uuid}", method: :delete, data: { confirm: '本当に削除しますか？' } %></button>
    </div>
  <% end %>
<% end %>
