<% content_for :ogp do %>
  <meta property="og:title" content="<%= @code.filename %>" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content=<%= "https://twicode-share.herokuapp.com/codes/#{@code.uuid}" %> />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="TwiCode" />
  <meta property="og:description" content="<%= @code.description %>" />

  <!--twitterの設定-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content=<%= "https://twicode-share.herokuapp.com/codes/#{@code.uuid}" %> />
  <meta name="twitter:image" content="" />
  <meta name="twitter:title" content="<%= @code.filename %>">
  <meta name="twitter:description" content="<%= @code.description %>" />
<% end %>

<div class="container">
  <div class="margin-top-wrapper">
    <div class="panel panel-info">
      <div class="panel-heading">ファイルの概要</div>
      <div class="panel-body">
        <%= @code.description %>
      </div>
    </div>

    <div class="center margin-bottom-wrapper">
      <i class="glyphicon glyphicon-chevron-down"></i>
    </div>

    <% if logged_in? %>
      <%# もしもコードユーザが自分なら %>
      <% if current_user.id == @code.user_id %>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Code</a></li>
        <li role="presentation"><div data-turbolinks="false" class="no-turbolink"><%= link_to '編集', edit_code_path(@code) %></div></li>
      </ul>
      <% end %>
    <% end %>
    <div class="panel panel-default" id="tocanvas">
      <div class="panel-heading"><%= "<>#{@code.filename}.twicode" %></div>
        <div class="panel-body">
          <p><%= markdown(@code.body).html_safe %></p>

          <%# LikesコントローラではCodeのidが必要になるため、Likeビューをパーシャル化する際に、
          Codeをビューに渡してあげる必要がある。 %>
          <span id="code-<%= @code.id %>">
            <%= render "likes/like", locals: { code: @code } %>
          </span>

        </div>
      </div>
    </div>
  </div>

  <div class="center comment-center">
    <h5 class="comment-index">コメント一覧</h5>
      <% if @code.comments.nil? %>
        <div class="center">
          <p>まだコメントはありません</p>
        </div>
      <% else %>
        
        <% @code.comments.each do |c| %>
          <% if c.user == current_user %>
          <%# もしコメントが自分であれば、右寄せ %>
            <div class="comment container">
              <div class="comment-icon">
                <img src="<%= c.user.image_url %>">
                <p><%= c.user.user_name %></p>
              </div>
              <div class="chat">
                <div class="comment-description">
                  <%= link_to(content_tag(:i, '', class: 'glyphicon glyphicon-trash'), code_comment_path(@code, c), :method => :delete) %>
                  <p><%= c.content %></p>
                </div>
              </div>
            </div>
          <% else %>
          <%# 自分以外のコメントの場合 %>
            <div class="comment-other container" style="display: flex">
              <div class="comment-other-icon">
                <img src="<%= c.user.image_url %>">
                <p><%= c.user.user_name %></p>
              </div>
              <div class="chat-other">
                <div class="comment-other-description">
                  <p><%= c.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    
    <% if logged_in? %>
    <%# ログインユーザならばコメント可能 %>
    <div class="container">
      <h5>コメントする</h5>
        <%= form_with(model: @code.comments.build , local: true, url: code_comments_path(@code)) do |f| %>
          <div class="form-group">
            <%= f.text_field :content, class: 'form-control comment-write-box' %>
          </div>
          <%= f.submit 'コメントする', class: 'btn btn-success' %>
        <% end %>
      <% else %>
      <%# ログインユーザでなければコメント不可 %>
        <div class="alart">
          <p>ログインするとコメントできるようになります。</p>
        </div>
      <% end %>
    </div>
  </div>  
</div>

<%= form_with model: @code do |form| %>
  <%= form.file_field :image_url, type: 'hidden', value: '', id: 'imgform' %>
<% end %>

<%# 画像設定 %>
<div class="bg_wrapper-trans center">
  <div class="share-card">
    <div class="ogp-wrapper">
      <img src="" id="result" alt="<%= @code.filename %>" class="card-img" />
    </div>
    <div class="card-body">
      <h4><%= @code.filename %></h4>
      <p><%= @code.description %></p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script>
  //ロードされた際の処理として実施：
  window.onload = function(){
    //HTML内に画像を表示
    html2canvas(document.getElementById("tocanvas"),{
      onrendered: function(canvas){
        var imgData = canvas.toDataURL();
        document.getElementById("result").src = imgData;

        sendData = canvas.toDataURL("image/png");
        form = document.getElementById("imgform")
        form.value = sendData;
        form.submit();
      }
    });
  }
  function checkText() {
    //入力ボックスの内容を表示する
    alert( document.myform.imagedata.value );
  }
</script>

<% if logged_in? %>
  <% if current_user.id == @code.user_id %>
    <div class="center margin-bottom-wrapper">
      <button type="button" class="btn btn-danger"><%= link_to "<>#{@code.filename}.twicodeを削除", "/codes/#{@code.uuid}", method: :delete, data: { confirm: '本当に削除しますか？' } %></button>
    </div>
  <% end %>
<% end %>
